dump/
conexao/
node_modules/
categorias.txt
enviaEmail.php
geraCaptcha.php
package-lock.json

galeria/*.png
galeria/*.jpg

img/*.png
img/*.jpg

editor/dist/

painel/componentes/
painel/ModeloTCCTecnicos.docx
painel/usuario.php